.footer-wrapper {
    height: 100vh;
    background: linear-gradient(#8BC6EC, #9599E2 70%);
    // background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #B7E8EB 100%);
    overflow: hidden;
}