.footer-wrapper {

    // background-image: url(../images/bg-footer.png);
    // background-position: 9% 19%;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: #2C3238;
    width: 100%;
    position: relative;
    overflow: hidden;

    .footer-wrapper-main {
        padding: 3em 0 5em 0;
    }

    .footer-address {
        &__logos {
            img {
                width: 160px;
            }

            h1 {
                font-size: 1.5em;
                text-align: center;
                margin-left: -0.6em;
                line-height: 1.6em;
                color: $color-white;
            }
        }

        &__desc {
            padding-top: 1em;

            p span {
                font-weight: 600;
                color: $color-white;
                width: 35px;
                display: inline-block;
            }

            p {
                line-height: 1.8em;
                font-size: 1em;
                color: $color-white;
                font-weight: 300;
            }
        }
    }

    .service {
        padding-top: 5em;

        &__title {
            color: $color-white;
        }

        ul {
            margin-top: 1em;

            li {
                line-height: 1.8em;
            }

            li a {
                color: $color-white;
                font-weight: 300;

                &:hover {
                    color: $color-hover;
                    text-decoration: underline;
                }
            }
        }

        ul.social {
            li {
                display: inline-block;
                font-size: 1.5em;
                margin: 0 0.5em;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    color: $color-white;
                }
            }

            li:last-child a:hover {
                color: red;
            }

            li:first-child a:hover {
                color: #2374E1;
            }
        }
    }
}

.footer {

    .coppyright {
        background-color: #222222;
        text-align: left;
        padding: 1em 0;
        color: #bababa;
        user-select: none;
    }
}