.header {
    .top-bar {
        background-color: $color-main;

        &__left {
            padding: 0.5em 0;
        }

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;

            li i {
                padding-right: 0.5em;
            }

            li a {
                color: #fff;
                text-decoration: none;
                font-size: 0.9em;
                font-weight: 400;
            }
        }
    }

    // navbar
    .navbar {
        display: flex;
        padding: 3em 0;

        &-logos {
            width: 150px;

            h1 {
                font-size: 3em;

                a {
                    color: $color-black;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }

        }

        &-menus {
            flex: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            li {
                margin: 0 1.5em;
                position: relative;
                padding: 0.5em 0;
            }

            li a.menu-main-item.active {
                color: $color-main;
            }

            li a {
                color: $color-black;
                font-weight: 500;

                &:hover {
                    color: $color-main;
                }

            }

            &__form {
                padding-left: 1em;

                li {
                    position: relative;
                }

                li:first-child a {
                    display: block;
                    padding: 0.7em 0.5em;

                    .form {
                        position: absolute;
                        // background-color: $color-main;
                        display: none;
                        padding: 1em;
                        top: 100%;
                        left: 0;
                        border: 3px solid #eee;

                        input {
                            border: 1px solid #f5f5f5;
                            padding: 0.5em;
                            color: $color-black;
                            border-radius: 1em;
                        }
                    }

                }

                li:first-child:hover a {
                    .form {
                        display: block;
                    }
                }

                li:last-child a {
                    background-color: $color-main;
                    padding: 0.6em 1.2em;
                    border-radius: 6px;
                    color: $color-white;
                }
            }

            // ul li .sub-menu {
            //     position: absolute;
            //     top: 100%;
            //     left: 0;
            //     min-width: 200px;
            //     width: fit-content;
            //     flex-direction: column;
            //     border: 1px solid #eee;
            //     display: none;

            //     li {
            //         margin: 0;
            //         text-align: left;
            //         padding: 0.5em;
            //         width: 100%;
            //     }
            // }

            // ul li:hover .sub-menu {
            //     display: block;
            // }

            ul li .sub-menu {
                position: absolute;
                display: block;
                z-index: 9;
                // background-color: $color-main;
                min-width: 200px;
                width: max-content;
                opacity: 0;
                top: 100%;
                visibility: hidden;
                border-radius: 3px;
                border: 1px solid #eee;

                li {
                    // margin: 0.3em;
                    width: auto;
                    padding: 0.2em;
                    border-bottom: 1px dotted $color-hover;
                }

                li a {
                    color: $color-black;
                    padding: 1em 0;
                    display: inline-block;
                    text-align: left;

                    &:hover {
                        color: $color-main;
                    }
                }
            }

            ul li:hover .sub-menu {

                opacity: 1;
                visibility: inherit;
                animation-name: animation-submenu;
                animation-duration: 0.6s;

            }

            @keyframes animation-submenu {
                0% {
                    top: 200%;
                    opacity: 0.4;
                }

                100% {
                    top: 100%;
                    opacity: 1;
                }
            }
        }

        &-menus-mobile {

            display: none;

        }
    }

}