.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0.9375em;
}

.container {
    max-width: 72em;
    margin: 0 auto;
}

.container-fluid {
    max-width: 81.25em;
    margin: 0 auto;
}

.pl {
    padding-left: 0;
}

.pd {
    padding: 0;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 576px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

}

@media only screen and (min-width: 768px) {

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 991.98px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {

    .col-l-1 {
        width: 8.33%;
    }

    .col-l-2 {
        width: 16.66%;
    }

    .col-l-3 {
        width: 25%;
    }

    .col-l-4 {
        width: 33.33%;
    }

    .col-l-5 {
        width: 41.66%;
    }

    .col-l-6 {
        width: 50%;
    }

    .col-l-7 {
        width: 58.33%;
    }

    .col-l-8 {
        width: 66.66%;
    }

    .col-l-9 {
        width: 75%;
    }

    .col-l-10 {
        width: 83.33%;
    }

    .col-l-11 {
        width: 91.66%;
    }

    .col-l-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1400px) {

    .col-xl-1 {
        width: 8.33%;
    }

    .col-xl-2 {
        width: 16.66%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.33%;
    }

    .col-xl-5 {
        width: 41.66%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.33%;
    }

    .col-xl-8 {
        width: 66.66%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.33%;
    }

    .col-xl-11 {
        width: 91.66%;
    }

    .col-xl-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 991.98px) {
    .post-content {
        .post-content-detail {
            .share-post {
                position: relative;
                text-align: center;
                margin-top: 2em;
                background-image: url('../images/bg-social.png') !important;
                background-position: 17% 3% !important;
                background-repeat: no-repeat;
                padding: 2em 0;

                .btn-share {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .header-top.top-bar-blog {
        position: relative;

        .topbar-blog {
            display: none;
        }

        .navbar-topbar-mobile {
            display: block;
            font-size: 2em;
            padding-right: 1em;
        }
    }
}

@media only screen and (max-width: 768px) {
    .top-bar {
        padding: 0 1em;
    }

    .header .top-bar__list li a {
        font-size: 0.8em;
    }

    .header-top.top-bar-blog {
        height: 75px;

        .navbar-topbar-logos {
            width: 120px;
        }
    }

    .header-main {

        .navbar {
            padding: 1em;

            &-logos {
                h1 {
                    font-size: 2em;
                }
            }

            &-menus {
                display: none;
            }

            &-menus-mobile {
                flex: auto;
                display: block;

                .bar {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    height: 100%;
                    font-size: 1.2em;
                }

                ul {
                    display: none;
                }
            }
        }
    }

    .category-menu-blog-mobile {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: $color-white;
        width: 100%;
        height: 100%;

        .sub-menu {
            padding: 1em;

            li {
                line-height: 2em;
            }

            li a {
                width: 100%;
                display: inline-block;
            }
        }
    }

    .category-menu-blog-mobile.active {
        display: block;
    }

    body.active {

        overflow: hidden;
    }

    .header-main-blog {

        .navbar-menus-blog {
            display: none;
        }

        // mobile
        .navbar-menus-mobile-blog {
            display: block;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;

                li.item {
                    flex: 1;
                    text-align: center;

                    span.item-close {
                        display: none;
                    }

                    a {
                        display: inline-block;
                        font-size: 14px;
                    }
                }

                li.item.active {
                    background-color: $color-white;

                    a {
                        display: none;
                    }

                    span.item-close {
                        display: inline-block;
                        width: 100%;
                        padding: 1em 0.5em;
                        color: $color-main;
                        text-align: center;
                        font-size: 1em;
                    }
                }

                li {
                    display: inline-block;
                    position: relative;

                    a i {
                        padding-left: 0.5em;
                    }

                    // .sub-menu {
                    //     display: none;
                    //     position: absolute;
                    //     top: 100%;
                    //     left: 0;
                    //     z-index: 99;
                    //     min-width: 500px;
                    //     background-color: #FFFFFF;

                    //     li a {
                    //         color: $color-main;
                    //     }
                    // }

                    .form-search {
                        display: none;
                        position: absolute;
                        top: 100%;
                        right: 1em;
                        z-index: 99;
                        min-width: 300px;
                        background-color: #fff;
                        padding: 0.3em;
                        border-radius: 6px;

                        input {
                            border: 1px solid #eee;
                            padding: 0.5em;
                            width: 100%;
                        }
                    }

                    &:hover {

                        .sub-menu {
                            display: block;
                        }

                        .form-search {
                            display: block;
                        }
                    }

                }

                li a {
                    padding: 1em 0.5em;
                    display: inline-block;
                }

                li a,
                li {
                    color: $color-white;
                    text-transform: uppercase;
                }

                li:last-child {
                    padding: 1em 0.5em;
                }
            }
        }
    }

    .content-area {
        .banner-content {
            display: block;

            &__left {
                .content {
                    padding: 1em;
                }

                h2 {
                    font-size: 1.875em;
                }

                .desc {
                    p {
                        font-size: 1em;
                    }
                }
            }

            &__right .affles {
                width: 300px;
                height: 300px;
            }
        }
    }

    .main .business {
        background-size: contain;


    }

    .main {
        .aplication-erp .img-inner {
            min-height: auto;
            padding-top: 4em;

            img {
                position: relative;
                top: inherit;
                left: inherit;
                transform: translate(0, 0);
            }
        }

        .typical-products {
            &--title {
                h2 {
                    font-size: 1.625em;
                }
            }

            .products-tabs {}
        }

        .why-choose {
            padding: 1em;

            &__title {
                max-width: 100%;

                h2 {
                    font-size: 1.625em;
                    line-height: 1.4;
                }
            }
        }

        .contact-ntechs-item {
            display: block;

            .box-text {
                h2 {
                    font-size: 1.5em;
                }

                .btn a {
                    margin-top: 0.5em;
                }
            }

            .box-img {
                margin: 0;
            }
        }

        .specific-number {
            &__item {
                border-top: 1px solid #eee;
            }
        }
    }

    .ntechs-modal {
        &__content {
            min-width: 328px;
            padding: 1em;
        }

        &__form {
            .in-text {
                display: block;

                input {
                    margin-top: 0.5em;
                }
            }
        }
    }

    .footer-wrapper {
        .footer-address {
            &__desc {
                text-align: center;
            }
        }

        .service {
            padding-top: 0.5em;
            text-align: center;
        }
    }

    // Blog
    .banner-blog-main {
        height: 150px;
        padding: 30px 0 70px !important;

        h1 {
            font-size: 24px;
        }
    }

    .content-blog .design-post-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .content-blog .blog-news-list {
        height: 235px;
    }

    .content-blog {
        .trend-news-blog {
            .trend-item {
                .desc {
                    grid-column: inherit;
                }
            }
        }
    }

    .post-image-feature {
        .post-img-content {
            top: 10%;
            padding: 1em;
            justify-content: center;

            h1.title {
                font-size: 1.25em;
            }

            span {
                flex-direction: column;
                align-items: flex-start;

                p {
                    padding: 0.5em 0;
                }
            }

            .ntechs-breadcrumbs {
                a {
                    font-size: 0.9em;
                }
            }
        }
    }

    .post-content {
        .post-content-detail {
            .share-post {
                position: relative;
                text-align: center;
                margin-top: 2em;
                background-image: url('../images/bg-social-m.png') !important;
                background-repeat: no-repeat;
                padding: 2em 0;

                .btn-share {
                    position: relative !important;
                    top: 0;
                    left: 0;
                    transform: translate(0, 0);
                    padding-top: 1em;
                }
            }
        }
    }

}